
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed');


h3 {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
    background-color: #045594;
    font-size: 24px;
    padding-top: 10px;
    /*padding-bottom: 12px;*/
    padding-left: 10px;
}

img {
    height: 43px;
}

#camera_alerts_dt_edit {
    font-family: 'Source Sans Pro';
    font-size: 14px;
}

.has-feedback .form-control {
    padding-right: 10px;
}

a {
    font-family: 'Source Sans Pro';
    /*color: blue;*/
}

button {
    font-family: 'Source Sans Pro';
    /*color: blue;*/
}

#exportData {
    font-family: 'Source Sans Pro';
    /*color: red;*/
}


/* Dummy SelectInput required for DTedit to work. Workaround. */
body > div.container-fluid > div.form-group.shiny-input-container {
    visibility: hidden;
    height: 1px;
}
h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
